{% extends "base.html.jinja" %}
{% block title %}
    About the author
{% endblock title %}
{% block content %}
    <section>
        <p>Cześć! Nazywam się Michael (Michaś) Tryfanau, i jestem studentem Uniwersytetu Ekonomicznego
        w Krakowie. Interesuję sie informatyką i innymi naukami, sportem (głównie bejsbolem) oraz Eurowizją. ❤</p>
    </section>
{% endblock content %}
{% block menu_links %}
    <a href="{{url_for('extract')}}">Ekstrakcja</a>
    <a href="{{url_for('products')}}">Produkty</a>
{% endblock menu_links %}