{% extends "base.html.jinja" %}
{% block title %}
    O autorze
{% endblock title %}
{% block content %}
    <section>
        <p>To jest strona o autorze.</p>
    </section>
{% endblock content %}
{% block menu_links %}
    <a href="{{url_for('extract')}}">Ekstrakcja</a>
    <a href="{{url_for('products')}}">Produkty</a>
{% endblock menu_links %}