{% extends "base.html.jinja" %}
{% block title %}
    Ekstrakcja opinii
{% endblock title %}
{% block content %}
    <section style="width: 60%;">
        {% if error is defined %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Uwaga! </strong> {{error}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
        {% endif %}
        <form method="POST" action="{{url_for('extract')}}" class="">
            <div class="row g-3 align-items-center justify-content-center">
                <div class="col-auto">
                    <label for="product_id" class="col-form-label">Kod produktu z Ceneo.pl</label>
                </div>
                <div class="col-auto">
                    <input type="text" name="product_id" id="product_id" class="form-control" aria-describedby="product_idHelpInline" placeholder="Podaj kod produktu" required> 
                </div>
                <div class="col-auto">
                    <span id="product_idHelpInline" class="form-text">
                        Kod produktu musi zawierać 5-10 cyfr.
                    </span>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn extract-submit">Pobierz opinie</button>
                </div>
            </div>
        </form>
    </section>
{% endblock content %}
{% block menu_links %}
    <a href="{{url_for('author')}}">Autor</a>
    <a href="{{url_for('products')}}">Produkty</a>
{% endblock menu_links %}