{% extends "base.html.jinja" %}
{% block title %}
    Strona główna
{% endblock title %}
{% block content %}
    <section>
        <p>Witam w projekcie! Zacznij ekstrakcję na stosownej stronie, wpisując kod produktu z Ceneo.<br /><br />Ten projekt stworzyłem w trakcie pracy w 
        trakcie przedmiotu Pracownia Programowania II. Wykorzystano Python z frameworkiem Flask, HTML z Jinja2, CSS.</p>
    </section>
{% endblock content %}
{% block menu_links %}
    <a href="{{url_for('author')}}">Autor</a>
    <a href="{{url_for('extract')}}">Ekstrakcja</a>
    <a href="{{url_for('products')}}">Produkty</a>
{% endblock menu_links %}