{% extends "base.html.jinja" %}
{% block content %}
    <p>To jest strona wszystkich produktów.</p>
{% endblock content %}
{% block menu_links %}
    <a href="/author">Autor</a>
    <a href="/extract">Ekstrakcja</a>
{% endblock menu_links %}