{% extends "base.html.jinja" %}
{% block content %}
    <p>To jest strona wszystkich produktów.</p>
{% endblock content %}
{% block menu_links %}
    <a href="{{url_for('author')}}">Autor</a>
    <a href="{{url_for('extract')}}">Ekstrakcja</a>
{% endblock menu_links %}